# Variable Creation
### volume per area harvested = efficiency ? ? 
- though how do we put it at an index ? 
- explore first

### legend 
- aih = area in hectars 
- vop = volume of production
- yph = yield per hectare

In [2]:
# import libraries 
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

# set file path 
path = "/Users/ael/OneDrive/Desktop/138/03_data/capstone"

In [3]:
vol_crop = pd.read_excel(
    path + "/palay.xlsx", 
    skiprows=[1, 2, 3, 4], 
    usecols="B:L", # to clean up the data
    header=0
)
vol_crop.dropna(inplace=True)

vol_crop

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,..CORDILLERA ADMINISTRATIVE REGION (CAR),400911,382848,445006,391104.6,418320.58,376473.48,377133.35,338067.45,331469.66,299400.11
1,....Abra,66716,65159,69477,62120,82429.69,83667.1,90434.39,76921,74414.98,68864.6
2,....Apayao,96453,86430,103335,76345.86,86818.58,96869.76,82468.92,74379.86,75730.27,69794.06
3,....Benguet,18144,18145,20276,19917.68,20447.93,21707.29,23667,23410.77,21524.15,18403.9
4,....Ifugao,63362,60866,62387,60076.6,53939.82,49412.61,41902.46,32934.09,34201.71,28337.25
...,...,...,...,...,...,...,...,...,...,...,...
99,....Lanao del Sur,149354,137666,181662,199964,190040,217678.81,219381.05,223465.04,227098.5,227913.92
100,....Maguindanao del Norte,..,..,..,..,..,..,..,..,..,266291.48
101,....Maguindanao del Sur,333258,402536,391924,433196.5,480713.2,505916.19,622850.07,600294.13,621595.9,360401.72
102,....Sulu,2402,1850,2456,3170,2646,880,1914,1052.96,490,29
103,....Tawi-tawi,491,278,253,35,249.94,344.87,324,338,516,509

In [ ]:
# rename header
vol_crop.rename(
    columns={
    "Unnamed: 1": "Region",
    "Unnamed: 2": "2015v_vop",
    'Unnamed: 3': "2016_vop",
    'Unnamed: 4': "2017_vop",
    'Unnamed: 5': "2018_vop",
    'Unnamed: 6': "2019_vop",
    'Unnamed: 7': "2020_vop",
    'Unnamed: 8': "2021_vop",
    'Unnamed: 9': "2022_vop",
    'Unnamed: 10': "2023_vop",
    'Unnamed: 11': "2024_vop",
}, inplace=True
)
vol_crop

,Region,2015v_vop,2016_vop,2017_vop,2018_vop,2019_vop,2020_vop,2021_vop,2022_vop,2023_vop,2024_vop
0,..CORDILLERA ADMINISTRATIVE REGION (CAR),400911,382848,445006,391104.6,418320.58,376473.48,377133.35,338067.45,331469.66,299400.11
1,....Abra,66716,65159,69477,62120,82429.69,83667.1,90434.39,76921,74414.98,68864.6
2,....Apayao,96453,86430,103335,76345.86,86818.58,96869.76,82468.92,74379.86,75730.27,69794.06
3,....Benguet,18144,18145,20276,19917.68,20447.93,21707.29,23667,23410.77,21524.15,18403.9
4,....Ifugao,63362,60866,62387,60076.6,53939.82,49412.61,41902.46,32934.09,34201.71,28337.25
...,...,...,...,...,...,...,...,...,...,...,...
99,....Lanao del Sur,149354,137666,181662,199964,190040,217678.81,219381.05,223465.04,227098.5,227913.92
100,....Maguindanao del Norte,..,..,..,..,..,..,..,..,..,266291.48
101,....Maguindanao del Sur,333258,402536,391924,433196.5,480713.2,505916.19,622850.07,600294.13,621595.9,360401.72
102,....Sulu,2402,1850,2456,3170,2646,880,1914,1052.96,490,29
103,....Tawi-tawi,491,278,253,35,249.94,344.87,324,338,516,509

In [8]:
# Do same for area data set
# since data structure is the same, we can just copy the previous code and modify it
area_crop = pd.read_excel(
    path + "/palay_area.xlsx", 
    skiprows=[1, 2, 3, 4], 
    usecols="B:L", # to clean up the data
    header=0
)
area_crop.rename(
    columns={
    "Unnamed: 1": "Region",
    "Unnamed: 2": "2015v_aih",
    'Unnamed: 3': "2016_aih",
    'Unnamed: 4': "2017_aih",
    'Unnamed: 5': "2018_aih",
    'Unnamed: 6': "2019_aih",
    'Unnamed: 7': "2020_aih",
    'Unnamed: 8': "2021_aih",
    'Unnamed: 9': "2022_aih",
    'Unnamed: 10': "2023_aih",
    'Unnamed: 11': "2024_aih",
}, inplace=True
)
area_crop.dropna(inplace=True)
area_crop

,Region,2015v_aih,2016_aih,2017_aih,2018_aih,2019_aih,2020_aih,2021_aih,2022_aih,2023_aih,2024_aih
0,..CORDILLERA ADMINISTRATIVE REGION (CAR),86521,88006,92205,90420,90312,80932.39,80547.41,79483.83,78703.96,74543.34
1,....Abra,14927,14919,14934,14480,14549,14548.87,14549.27,14548.9,14548.63,14590.93
2,....Apayao,16270,15968,16877,15933,17522,17805.46,17137,17110.03,17059.31,13606.94
3,....Benguet,5200,5276,5755,5877,5903,5903,5903,5903.32,5897.18,5897.36
4,....Ifugao,16399,16393,16388,16382,15582,14899.82,12236.33,11246.65,11346.87,10489.41
...,...,...,...,...,...,...,...,...,...,...,...
624,....Lanao del Sur,107111,106067,127906,127274,155443,172337,174842.5,174740.5,174638.5,174735
625,....Maguindanao del Norte,..,..,..,..,..,..,..,..,..,77198.95
626,....Maguindanao del Sur,172852,152942,169886,181097,177175.31,190946.03,173296.69,175599.35,174923.12,97724.7
627,....Sulu,1256,1305,1319,1405,1318,1318.88,1489,861.84,615,377
628,....Tawi-tawi,801,593,624,421,889,882,919,919,925,886

In [15]:
# concat by region
palay_data = pd.concat([vol_crop, area_crop.iloc[:, 1:]], axis=1)
palay_data.dropna(inplace=True)
palay_data

,Region,2015v_vop,2016_vop,2017_vop,2018_vop,2019_vop,2020_vop,2021_vop,2022_vop,2023_vop,...,2015v_aih,2016_aih,2017_aih,2018_aih,2019_aih,2020_aih,2021_aih,2022_aih,2023_aih,2024_aih
0,..CORDILLERA ADMINISTRATIVE REGION (CAR),400911,382848,445006,391104.6,418320.58,376473.48,377133.35,338067.45,331469.66,...,86521,88006,92205,90420,90312,80932.39,80547.41,79483.83,78703.96,74543.34
1,....Abra,66716,65159,69477,62120,82429.69,83667.1,90434.39,76921,74414.98,...,14927,14919,14934,14480,14549,14548.87,14549.27,14548.9,14548.63,14590.93
2,....Apayao,96453,86430,103335,76345.86,86818.58,96869.76,82468.92,74379.86,75730.27,...,16270,15968,16877,15933,17522,17805.46,17137,17110.03,17059.31,13606.94
3,....Benguet,18144,18145,20276,19917.68,20447.93,21707.29,23667,23410.77,21524.15,...,5200,5276,5755,5877,5903,5903,5903,5903.32,5897.18,5897.36
4,....Ifugao,63362,60866,62387,60076.6,53939.82,49412.61,41902.46,32934.09,34201.71,...,16399,16393,16388,16382,15582,14899.82,12236.33,11246.65,11346.87,10489.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,....Lanao del Sur,149354,137666,181662,199964,190040,217678.81,219381.05,223465.04,227098.5,...,11198,11419,15235,14551,15731.53,18856,18999.5,19030,19026.4,19025.8
100,....Maguindanao del Norte,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,18657.6
101,....Maguindanao del Sur,333258,402536,391924,433196.5,480713.2,505916.19,622850.07,600294.13,621595.9,...,34845,27789,19599,24562,26502,26187.62,25745.77,34297.14,43098,24439.4
102,....Sulu,2402,1850,2456,3170,2646,880,1914,1052.96,490,...,90,70,80,90,110,10,20,0,0,0
103,....Tawi-tawi,491,278,253,35,249.94,344.87,324,338,516,...,0,0,0,0,0,0,0,0,0,0

In [16]:
# make new df for yield per hectare
# first make varaiabls for yield per hectare for years 2015-2024
# make sure that data is not string 
palay_data["2015v_vop"] = pd.to_numeric(palay_data["2015v_vop"], errors='coerce')
palay_data["2016_vop"] = pd.to_numeric(palay_data["2016_vop"], errors='coerce')
palay_data["2017_vop"] = pd.to_numeric(palay_data["2017_vop"], errors='coerce')
palay_data["2018_vop"] = pd.to_numeric(palay_data["2018_vop"], errors='coerce')
palay_data["2019_vop"] = pd.to_numeric(palay_data["2019_vop"], errors='coerce')
palay_data["2020_vop"] = pd.to_numeric(palay_data["2020_vop"], errors='coerce')
palay_data["2021_vop"] = pd.to_numeric(palay_data["2021_vop"], errors='coerce')
palay_data["2022_vop"] = pd.to_numeric(palay_data["2022_vop"], errors='coerce')
palay_data["2023_vop"] = pd.to_numeric(palay_data["2023_vop"], errors='coerce')
palay_data["2024_vop"] = pd.to_numeric(palay_data["2024_vop"], errors='coerce')
palay_data["2015v_aih"] = pd.to_numeric(palay_data["2015v_aih"], errors='coerce')
palay_data["2016_aih"] = pd.to_numeric(palay_data["2016_aih"], errors='coerce')
palay_data["2017_aih"] = pd.to_numeric(palay_data["2017_aih"], errors='coerce')
palay_data["2018_aih"] = pd.to_numeric(palay_data["2018_aih"], errors='coerce')
palay_data["2019_aih"] = pd.to_numeric(palay_data["2019_aih"], errors='coerce')
palay_data["2020_aih"] = pd.to_numeric(palay_data["2020_aih"], errors='coerce')
palay_data["2021_aih"] = pd.to_numeric(palay_data["2021_aih"], errors='coerce')
palay_data["2022_aih"] = pd.to_numeric(palay_data["2022_aih"], errors='coerce')
palay_data["2023_aih"] = pd.to_numeric(palay_data["2023_aih"], errors='coerce')
palay_data["2024_aih"] = pd.to_numeric(palay_data["2024_aih"], errors='coerce')

# make variables for yield per hectare
palay_data ["2015_yph"] = palay_data["2015v_vop"] / palay_data["2015v_aih"]
palay_data ["2016_yph"] = palay_data["2016_vop"] / palay_data["2016_aih"]
palay_data ["2017_yph"] = palay_data["2017_vop"] / palay_data["2017_aih"]
palay_data ["2018_yph"] = palay_data["2018_vop"] / palay_data["2018_aih"]
palay_data ["2019_yph"] = palay_data["2019_vop"] / palay_data["2019_aih"]
palay_data ["2020_yph"] = palay_data["2020_vop"] / palay_data["2020_aih"]
palay_data ["2021_yph"] = palay_data["2021_vop"] / palay_data["2021_aih"]
palay_data ["2022_yph"] = palay_data["2022_vop"] / palay_data["2022_aih"]
palay_data ["2023_yph"] = palay_data["2023_vop"] / palay_data["2023_aih"]
palay_data ["2024_yph"] = palay_data["2024_vop"] / palay_data["2024_aih"]
palay_data

,Region,2015v_vop,2016_vop,2017_vop,2018_vop,2019_vop,2020_vop,2021_vop,2022_vop,2023_vop,...,2015_yph,2016_yph,2017_yph,2018_yph,2019_yph,2020_yph,2021_yph,2022_yph,2023_yph,2024_yph
0,..CORDILLERA ADMINISTRATIVE REGION (CAR),400911.0,382848.0,445006.0,391104.60,418320.58,376473.48,377133.35,338067.45,331469.66,...,4.633684,4.350249,4.826268,4.325421,4.631949,4.651703,4.682129,4.253286,4.211601,4.016457
1,....Abra,66716.0,65159.0,69477.0,62120.00,82429.69,83667.10,90434.39,76921.00,74414.98,...,4.469485,4.367518,4.652270,4.290055,5.665660,5.750763,6.215734,5.287066,5.114913,4.719685
2,....Apayao,96453.0,86430.0,103335.0,76345.86,86818.58,96869.76,82468.92,74379.86,75730.27,...,5.928273,5.412700,6.122830,4.791681,4.954833,5.440453,4.812331,4.347150,4.439234,5.129299
3,....Benguet,18144.0,18145.0,20276.0,19917.68,20447.93,21707.29,23667.00,23410.77,21524.15,...,3.489231,3.439158,3.523197,3.389090,3.463989,3.677332,4.009317,3.965696,3.649906,3.120701
4,....Ifugao,63362.0,60866.0,62387.0,60076.60,53939.82,49412.61,41902.46,32934.09,34201.71,...,3.863772,3.712926,3.806871,3.667232,3.461675,3.316323,3.424430,2.928347,3.014198,2.701510
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,....Lanao del Sur,149354.0,137666.0,181662.0,199964.00,190040.00,217678.81,219381.05,223465.04,227098.50,...,13.337560,12.055872,11.923991,13.742286,12.080198,11.544273,11.546675,11.742777,11.935968,11.979203
100,....Maguindanao del Norte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.272547
101,....Maguindanao del Sur,333258.0,402536.0,391924.0,433196.50,480713.20,505916.19,622850.07,600294.13,621595.90,...,9.564012,14.485444,19.997143,17.636858,18.138752,19.318907,24.192326,17.502746,14.422848,14.746750
102,....Sulu,2402.0,1850.0,2456.0,3170.00,2646.00,880.00,1914.00,1052.96,490.00,...,26.688889,26.428571,30.700000,35.222222,24.054545,88.000000,95.700000,inf,inf,inf
103,....Tawi-tawi,491.0,278.0,253.0,35.00,249.94,344.87,324.00,338.00,516.00,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf

In [17]:
# pull yph only

yph_data = palay_data[["Region", "2015_yph", "2016_yph", "2017_yph", "2018_yph", "2019_yph", "2020_yph", "2021_yph", "2022_yph", "2023_yph", "2024_yph"]]
yph_data

,Region,2015_yph,2016_yph,2017_yph,2018_yph,2019_yph,2020_yph,2021_yph,2022_yph,2023_yph,2024_yph
0,..CORDILLERA ADMINISTRATIVE REGION (CAR),4.633684,4.350249,4.826268,4.325421,4.631949,4.651703,4.682129,4.253286,4.211601,4.016457
1,....Abra,4.469485,4.367518,4.652270,4.290055,5.665660,5.750763,6.215734,5.287066,5.114913,4.719685
2,....Apayao,5.928273,5.412700,6.122830,4.791681,4.954833,5.440453,4.812331,4.347150,4.439234,5.129299
3,....Benguet,3.489231,3.439158,3.523197,3.389090,3.463989,3.677332,4.009317,3.965696,3.649906,3.120701
4,....Ifugao,3.863772,3.712926,3.806871,3.667232,3.461675,3.316323,3.424430,2.928347,3.014198,2.701510
...,...,...,...,...,...,...,...,...,...,...,...
99,....Lanao del Sur,13.337560,12.055872,11.923991,13.742286,12.080198,11.544273,11.546675,11.742777,11.935968,11.979203
100,....Maguindanao del Norte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.272547
101,....Maguindanao del Sur,9.564012,14.485444,19.997143,17.636858,18.138752,19.318907,24.192326,17.502746,14.422848,14.746750
102,....Sulu,26.688889,26.428571,30.700000,35.222222,24.054545,88.000000,95.700000,inf,inf,inf
103,....Tawi-tawi,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf